.App {
  text-align: center;
  padding: 20px;
}

.App-logo {
  height: 40vmin;
}

.App-link {
  color: #09d3ac;
}




.urlField {
  vertical-align: middle !important;
  width: 500px;
}


@media (max-width:500px) {
  .urlField {
    width: 100%;
  }
}

.convert_video_btn {

  

  display: block !important;
  margin: 20px auto !important;
}

.hidden {
  display: none !important;
}
.show {
  display: block !important;
}

.btnDownload {
  margin-top: 25px !important;
}